.title-mirror{
  font-size: 28px;
  background-image: url('../../img/sobre-background.jpg');
  border-bottom: 2px solid #333333;
  padding: var(--size-very-small) 0 0 var(--size-big);
  margin: 0 0 var(--size-small);
}
