.section-mirror {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 800px) {
  .section-mirror {
    flex-direction: row;
  }
}
