.wrapper-cards-mirror {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-cards-mirror >.subtitle{
  margin-top: var(--size-very-small);
}

.wrapper-cards-mirror >.showcase-mirror{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.one{
  background-color: var(--fourth-color);
  margin-bottom: var(--size-very-small);
}

.two{
  background-color: var(--fifith-color);
  margin-bottom: var(--size-very-small);
}

